* {
    font-family: 'segoe ui', serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui', serif;
}

main {
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 90%;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #69A297;
    text-align: center;
}

h2 {
    font-size: 36px;
}

a {
    text-decoration: none;
}

nav ul li {
    text-decoration: none !important;
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

nav ul li .survol {
    text-decoration: none !important;
    color: #3a444f;
    position: relative;
    display: inline-block;
}

button {
    display: block;
    position: relative;
    margin: 20px auto !important;
    padding: 15px 30px 15px 30px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #a3C9a8;
    box-shadow: 0 0 20px rgb(0, 0, 0, .2);
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

button:hover, button:focus, button:active {
    box-shadow: 0 0 20px rgb(0, 0, 0, .6);
    background-color: #84B59F;
}

a {
    text-decoration: none;
}

a:hover::before {
    width: 100%;
}

label {
    display: block
}

input, textarea, select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    min-width: 50%;
}

input {
    border: 3px solid #fff;
    border-radius: 100px;
    margin-top: 20px;
}

.survol h1 {
    text-transform: uppercase;
    color: #e0ae77;
}

.survol::before {
    content: attr(data-text);
    color: #e0ae77;
    position: absolute;
    left: 0;
    top: 0%;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    border-bottom: 2px solid #e0ae77;

}

.flash {
    padding: 20px;

    color: #fff;
    font-size: 1rem;
    margin: 1rem 0;
    border-radius: 5px
}

.flash-success {
    background-color: #A3C9A8;
}

@media (max-width: 700px) {

    nav {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
    }
}


.nav {
    height: 50px;
    width: 100%;
    background-color: #84B59F;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: #69A297;
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: #69A297;
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.nav-title {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
}

.containerform {
    text-align: center;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    margin-right:20px;
    vertical-align: top;
    margin-top: 10px;
}

.labelscheckbox {
    display: inline-block;
    text-align: right;
    width: 350px;
    padding: 2px;
    vertical-align: top;
}

.rightTabCheckbox {
    justify-content: flex-end;
    display: inline-block;
    padding-top: 15px;
    text-align: left;
    margin-left: -60px;
    width: 38%;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: stretch;
    gap: 50px;
    padding: 0 50px 0 50px;
}

.color {
    padding: 100px;
    border-radius: 10px;
    background-color: #DDD8C4;
}

.content {
    padding: 50px;
    border-radius: 10px;
    background-color: #DDD8C4;
}

